Repository analogdevicesinc/hdl, pull requests merged in 2023-12, with the labels that each got.

#1210 AD9434: Zed porting and documentation
  docs/index.rst
  docs/projects/ad9434_fmc/ad9434_fmc_block_diagram.svg
  docs/projects/ad9434_fmc/index.rst
  projects/ad9434_fmc/zed/Makefile
  projects/ad9434_fmc/zed/system_bd.tcl
  projects/ad9434_fmc/zed/system_constr.xdc
  projects/ad9434_fmc/zed/system_project.tcl
  projects/ad9434_fmc/zed/system_top.v
Labels: newcarrier, doc

#1227 docs: Add ad5766 documentation
  docs/index.rst
  docs/projects/ad5766_sdz/ad5766_spi_engine_hdl.svg
  docs/projects/ad5766_sdz/index.rst
Labels: doc

#1202 make: parallel build
  library/Makefile
  library/scripts/library.mk
  projects/scripts/project-intel.mk
  projects/scripts/project-xilinx.mk
  quiet.mk
Labels: new feature

#1239 doc: Fixed SPI documentation consistency
  docs/library/spi_engine/instruction-format.rst
  library/spi_engine/spi_engine_execution/spi_engine_execution_ip.tcl
Labels: doc

#1240 docs: Add ad738x documentation
  docs/index.rst
  docs/projects/ad738x_fmc/ad738x_spi_engine_hdl.svg
  docs/projects/ad738x_fmc/index.rst
Labels: doc
