Repository analogdevicesinc/hdl, pull requests merged in 2024-07, with the labels that each got.

#1372 Replaced master from links with main
  projects/adrv9009zu11eg/adrv2crr_fmcxmwbr1/system_top_xmicrowave.v
  projects/adrv9026/zcu102/system_top.v
  projects/adrv904x/zcu102/system_top.v
  projects/cn0585/zed/system_top.v
  projects/common/vpk180/system_top.v
  projects/pulsar_lvds_adc/zed/ad7626_system_top.v
  projects/pulsar_lvds_adc/zed/ad7960_system_top.v
  projects/wiki_summary.sh
Labels: cosmetics

#1352 ad738x: ALERT/SDOB-SDOD Output
  docs/projects/ad738x_fmc/ad738x_spi_engine_hdl.svg
  docs/projects/ad738x_fmc/index.rst
  projects/ad738x_fmc/Readme.md
  projects/ad738x_fmc/common/ad738x_bd.tcl
  projects/ad738x_fmc/common/ad738x_fmc.txt
  projects/ad738x_fmc/zed/system_constr.xdc
  projects/ad738x_fmc/zed/system_constr_1sdi.xdc
  projects/ad738x_fmc/zed/system_constr_2sdi.xdc
  projects/ad738x_fmc/zed/system_constr_4sdi.xdc
  projects/ad738x_fmc/zed/system_project.tcl
  projects/ad738x_fmc/zed/system_top.v
Labels: new feature, doc

#1362 AD469x: HDL build parameter
  docs/projects/ad469x_fmc/index.rst
  projects/ad469x_fmc/Readme.md
  projects/ad469x_fmc/common/ad469x_bd.tcl
  projects/ad469x_fmc/zed/system_constr.xdc
  projects/ad469x_fmc/zed/system_project.tcl
  projects/ad469x_fmc/zed/system_top.v
Labels: new feature, doc

#1379 docs: Change :dokuwiki: to :ref: tag for ported IPs
  docs/projects/ad4134_fmc/index.rst
  docs/projects/ad4630_fmc/index.rst
  docs/projects/ad469x_fmc/index.rst
  docs/projects/ad5766_sdz/index.rst
  docs/projects/ad7134_fmc/index.rst
  docs/projects/ad719x_asdz/index.rst
  docs/projects/ad738x_fmc/index.rst
  docs/projects/ad7606x_fmc/index.rst
  docs/projects/ad7616_sdz/index.rst
  docs/projects/ad7768evb/index.rst
  docs/projects/ad9081_fmca_ebz/index.rst
  docs/projects/ad9783_ebz/index.rst
  docs/projects/adaq7980_sdz/index.rst
  docs/projects/adrv9026/index.rst
  docs/projects/adrv904x/index.rst
  docs/projects/cn0363/index.rst
  docs/projects/cn0540/index.rst
  docs/projects/cn0561/index.rst
  docs/projects/cn0585/index.rst
  docs/projects/pulsar_adc/index.rst
  docs/projects/pulsar_lvds/index.rst
  docs/projects/template/index.rst
Labels: doc

#1349 ad7134: Multidevice synchronization
  docs/projects/ad7134_fmc/ad713x_hdl.svg
  docs/projects/ad7134_fmc/index.rst
  projects/ad7134_fmc/common/ad7134_bd.tcl
  projects/ad7134_fmc/zed/system_constr.xdc
  projects/ad7134_fmc/zed/system_top.v
Labels: new feature, doc

#1351 cn0561: Set DCLK frequency to 50 MHz
  docs/projects/cn0561/cn0561_hdl.svg
  docs/projects/cn0561/index.rst
  projects/cn0561/common/cn0561_bd.tcl
  projects/cn0561/zed/system_constr.xdc
Labels: enhancement, doc

#1386 ad9081: add Stratix 10 support
  projects/ad9081_fmca_ebz/s10soc/Makefile
  projects/ad9081_fmca_ebz/s10soc/system_constr.sdc
  projects/ad9081_fmca_ebz/s10soc/system_project.tcl
  projects/ad9081_fmca_ebz/s10soc/system_qsys.tcl
  projects/ad9081_fmca_ebz/s10soc/system_top.v
Labels: newcarrier

#1373 AD411x/AD717x for de10nano
  docs/projects/ad411x_ad717x/ad411x_ad717x_hdl.svg
  docs/projects/ad411x_ad717x/index.rst
  docs/projects/index.rst
  projects/ad411x_ad717x/Makefile
  projects/ad411x_ad717x/common/ad411x_ad717x_ardz.txt
  projects/ad411x_ad717x/common/ad411x_ad717x_asdz_qsys.tcl
  projects/ad411x_ad717x/de10nano/Makefile
  projects/ad411x_ad717x/de10nano/system_constr.sdc
  projects/ad411x_ad717x/de10nano/system_project.tcl
  projects/ad411x_ad717x/de10nano/system_qsys.tcl
  projects/ad411x_ad717x/de10nano/system_top.v
Labels: newboard
