Repository analogdevicesinc/hdl, pull requests merged in 2024-09, with the labels that each got.

#1393 Documentation general fixes
  docs/library/axi_ad9671/index.rst
  docs/library/axi_ad9783/index.rst
  docs/library/axi_ad9963/index.rst
  docs/library/axi_adaq8092/index.rst
  docs/library/axi_adc_decimate/index.rst
  docs/library/axi_adc_trigger/index.rst
  docs/library/axi_adxcvr/index.rst
  docs/library/axi_clkgen/index.rst
  docs/library/axi_dac_interpolate/index.rst
  docs/library/axi_dmac/index.rst
  docs/library/axi_fan_control/index.rst
  docs/library/axi_hdmi_rx/index.rst
  docs/library/axi_hdmi_tx/index.rst
  docs/library/axi_laser_driver/index.rst
  docs/library/axi_logic_analyzer/index.rst
  docs/library/axi_pwm_gen/index.rst
  docs/library/axi_sysid/index.rst
  docs/library/axi_tdd/index.rst
  docs/library/common/ad_dds/index.rst
  docs/library/corundum/index.rst
  docs/library/data_offload/index.rst
  docs/library/i3c_controller/index.rst
  docs/library/jesd204/index.rst
  docs/library/spi_engine/index.rst
  docs/library/util_axis_fifo/index.rst
  docs/library/util_axis_fifo_asym/index.rst
  docs/library/util_extract/index.rst
  docs/library/util_mii_to_rmii/index.rst
  docs/library/util_pack/util_cpack2.rst
  docs/library/util_pack/util_upack2.rst
  docs/library/util_rfifo/index.rst
  docs/library/util_var_fifo/index.rst
  docs/library/util_wfifo/index.rst
Labels: cosmetics, doc

#1186 axi_jesd204_rx: Fixup write to up_cfg_buffer_delay
  docs/regmap/adi_regmap_jesd_rx.txt
  library/jesd204/axi_jesd204_rx/jesd204_up_rx.v
Labels: bug

#1167 HDL files for 2-24 GHz XMW TX/RX Platforms
  projects/ad9082_fmca_ebz_xmw_rx/Makefile
  projects/ad9082_fmca_ebz_xmw_rx/Readme.md
  projects/ad9082_fmca_ebz_xmw_rx/zcu102/Makefile
  projects/ad9082_fmca_ebz_xmw_rx/zcu102/system_bd.tcl
  projects/ad9082_fmca_ebz_xmw_rx/zcu102/system_constr.xdc
  projects/ad9082_fmca_ebz_xmw_rx/zcu102/system_project.tcl
  projects/ad9082_fmca_ebz_xmw_rx/zcu102/system_top.v
  projects/ad9082_fmca_ebz_xmw_tx/Makefile
  projects/ad9082_fmca_ebz_xmw_tx/Readme.md
  projects/ad9082_fmca_ebz_xmw_tx/zcu102/Makefile
  projects/ad9082_fmca_ebz_xmw_tx/zcu102/system_bd.tcl
  projects/ad9082_fmca_ebz_xmw_tx/zcu102/system_constr.xdc
  projects/ad9082_fmca_ebz_xmw_tx/zcu102/system_project.tcl
  projects/ad9082_fmca_ebz_xmw_tx/zcu102/system_top.v
Labels: new feature

#1441 docs/projects: Adding documentation for EVAL-AD3552R board
  docs/projects/ad3552r_evb/ad3552r_evb_zed_block_diagram.svg
  docs/projects/ad3552r_evb/index.rst
  docs/projects/index.rst
Labels: doc

#1437 docs/projects: Adding documentation for CN0579
  docs/projects/cn0579/cn0579_block_diagram.svg
  docs/projects/cn0579/cn0579_clock_diagram.svg
  docs/projects/cn0579/index.rst
  docs/projects/index.rst
Labels: doc

#1442 docs/projects: Adding ADAQ8092-FMC HDL project documentation.
  docs/projects/adaq8092_fmc/adaq8092_clock_scheme.svg
  docs/projects/adaq8092_fmc/adaq8092_zed_hdl_block_diagram.svg
  docs/projects/adaq8092_fmc/index.rst
  docs/projects/index.rst
Labels: doc

#1434 ad9081: vpk180: system_top: Renamed serial connections
  projects/ad9081_fmca_ebz/vpk180/system_top.v
Labels: bug

#1446 docs: Cosmetic & functional fixes to comply with PDF generation req.
  docs/conf.py
  docs/library/axi_ad485x/index.rst
  docs/library/axi_dmac/index.rst
  docs/library/spi_engine/instruction-format.rst
  docs/library/spi_engine/tutorial.rst
  docs/requirements.txt
Labels: doc

#1464 docs/cn0579: Fixing the make rendering and removing whitespaces
  docs/projects/cn0579/index.rst
Labels: bug, doc

#1436 adrv904x_vck190: Initial design
  .github/CODEOWNERS
  docs/projects/adrv904x/adrv904x_zcu102_jesd204c.svg
  docs/projects/adrv904x/index.rst
  projects/adrv904x/common/adrv904x_bd.tcl
  projects/adrv904x/common/adrv904x_fmc.txt
  projects/adrv904x/common/versal_transceiver.tcl
  projects/adrv904x/vck190/Makefile
  projects/adrv904x/vck190/system_bd.tcl
  projects/adrv904x/vck190/system_constr.xdc
  projects/adrv904x/vck190/system_project.tcl
  projects/adrv904x/vck190/system_top.v
Labels: newcarrier
