Repository analogdevicesinc/hdl, pull requests merged in 2024-08, with the labels that each got.

#1399 Fix: ad9209_fmca_ebz: vck190: Implemented the Versal reset changes
  projects/ad9081_fmca_ebz/common/ad9081_fmca_ebz_bd.tcl
  projects/ad9081_fmca_ebz/common/versal_transceiver.tcl
  projects/ad9209_fmca_ebz/vck190/system_top.v
Labels: bug

#1404 projects/ad9265_fmc/zc706: Fix adc_clk freq -- 125MHz
  projects/ad9265_fmc/zc706/system_constr.xdc
Labels: bug

#1377 docs/projects/ad9739a_fmc: Migrate documentation
  docs/projects/ad9739a_fmc/ad9739a_fmc_card_1.svg
  docs/projects/ad9739a_fmc/ad9739a_fmc_xilinx.svg
  docs/projects/ad9739a_fmc/index.rst
  docs/projects/index.rst
Labels: doc

#1363 docs/projects/cn0577: Migrate documentation
  docs/projects/cn0577/cn0577_zed_block_diagram.svg
  docs/projects/cn0577/index.rst
  docs/projects/index.rst
Labels: doc

#1253 projects: Port AD9265-FMC to ZedBoard & doc.
  docs/projects/ad9265_fmc/ad9265_fmc_block_diagram.svg
  docs/projects/ad9265_fmc/index.rst
  docs/projects/index.rst
  projects/ad9265_fmc/zed/Makefile
  projects/ad9265_fmc/zed/system_bd.tcl
  projects/ad9265_fmc/zed/system_constr.xdc
  projects/ad9265_fmc/zed/system_project.tcl
  projects/ad9265_fmc/zed/system_top.v
Labels: newcarrier, doc

#1414 sysid: Fix mem init file path
  projects/scripts/adi_pd.tcl
Labels: bug

#1418 library/scripts/library.mk: Fix .lock cleaning for IPs requiring other IPs
  library/scripts/library.mk
Labels: bug

#1426 docs: Add CN0506-related project page
  docs/projects/cn0506/cn0506_mii.svg
  docs/projects/cn0506/cn0506_rgmii.svg
  docs/projects/cn0506/cn0506_rmii.svg
  docs/projects/cn0506/index.rst
  docs/projects/index.rst
Labels: doc

#1233 JESD204B support on VCK190
  library/jesd204/jesd204_versal_gt_adapter_rx/Makefile
  library/jesd204/jesd204_versal_gt_adapter_rx/jesd204_versal_gt_adapter_rx.v
  library/jesd204/jesd204_versal_gt_adapter_rx/jesd204_versal_gt_adapter_rx_ip.tcl
  library/jesd204/jesd204_versal_gt_adapter_rx/lane_align.v
  library/jesd204/jesd204_versal_gt_adapter_tx/Makefile
  library/jesd204/jesd204_versal_gt_adapter_tx/jesd204_versal_gt_adapter_tx.v
  library/jesd204/jesd204_versal_gt_adapter_tx/jesd204_versal_gt_adapter_tx_ip.tcl
  projects/ad9081_fmca_ebz/common/ad9081_fmca_ebz_bd.tcl
  projects/ad9081_fmca_ebz/common/versal_transceiver.tcl
  projects/ad9081_fmca_ebz/vck190/Makefile
  projects/ad9081_fmca_ebz/vck190/system_constr.xdc
  projects/ad9081_fmca_ebz/vck190/system_project.tcl
  projects/ad9081_fmca_ebz/vck190/system_top.v
  projects/ad9081_fmca_ebz/vck190/timing_constr.xdc
  projects/ad9209_fmca_ebz/vck190/system_top.v
Labels: new feature

#1390 docs/projects/ad9467_fmc: Migrate documentation
  docs/projects/ad9467_fmc/ad9467_fmc_block_diagram.svg
  docs/projects/ad9467_fmc/ad9467_fmc_card.svg
  docs/projects/ad9467_fmc/index.rst
  docs/projects/index.rst
Labels: doc
