Repository analogdevicesinc/hdl, pull requests merged in 2024-10, with the labels that each got.

#1459 docs/projects: Migrate documentation for AD9656-FMC
  docs/projects/ad9656_fmc/ad9656_fmc_connector_diagram.svg
  docs/projects/ad9656_fmc/ad9656_fmc_xilinx_block_diagram.svg
  docs/projects/ad9656_fmc/index.rst
  docs/projects/index.rst
Labels: doc

#1438 adrv9026: Add vck190 support
  docs/projects/adrv9026/index.rst
  projects/adrv9026/common/adrv9026_bd.tcl
  projects/adrv9026/common/versal_transceiver.tcl
  projects/adrv9026/vck190/Makefile
  projects/adrv9026/vck190/system_bd.tcl
  projects/adrv9026/vck190/system_constr.xdc
  projects/adrv9026/vck190/system_project.tcl
  projects/adrv9026/vck190/system_top.v
Labels: newcarrier, doc

#1465 ci: Add backstage catalog yaml generator
  .github/scripts/gen_backstage_yaml.py
  .github/workflows/backstage_yaml.yml
  .gitignore
  docs/requirements.txt
Labels: doc

#1480 docs/library/util_sigma_delta_spi: Add documentation
  docs/library/index.rst
  docs/library/util_sigma_delta_spi/index.rst
Labels: doc

#1491 [Doc] Migrate obsolete IPs: axi_ad9144 & axi_ad9371
  docs/library/axi_ad9144/block_diagram.svg
  docs/library/axi_ad9144/detailed_architecture.svg
  docs/library/axi_ad9144/index.rst
  docs/library/axi_ad9371/block_diagram.svg
  docs/library/axi_ad9371/index.rst
  docs/library/index.rst
  docs/projects/index.rst
Labels: doc

#1495 docs/regmap: General fixes for SystemVerilog regmap package generation
  docs/regmap/adi_regmap_axi_laser_driver.txt
  docs/regmap/adi_regmap_data_offload.txt
  docs/regmap/adi_regmap_dmac.txt
  docs/regmap/adi_regmap_fan_control.txt
  docs/regmap/adi_regmap_hdmi.txt
  docs/regmap/adi_regmap_i3c_controller.txt
  docs/regmap/adi_regmap_interpolate.txt
  docs/regmap/adi_regmap_jesd_rx.txt
  docs/regmap/adi_regmap_jesd_tx.txt
  docs/regmap/adi_regmap_pwm_gen.txt
  docs/regmap/adi_regmap_spi_engine.txt
  docs/regmap/adi_regmap_system_id.txt
  docs/regmap/adi_regmap_tdd_gen.txt
  docs/regmap/adi_regmap_xcvr_intel.txt
  docs/user_guide/ip_cores/creating_new_ip.rst
Labels: bug, doc

#1492 library/axi_ltc2387/axi_ltc2387.v: Fix default value for parameters
  library/axi_ltc2387/axi_ltc2387.v
Labels: bug
