Repository analogdevicesinc/hdl, pull requests merged in 2025-03, with the labels that each got.

#1527 Add Cache Coherency support on Ultrascale projects
  projects/ad9081_fmca_ebz/common/ad9081_fmca_ebz_bd.tcl
  projects/ad9083_evb/common/ad9083_evb_bd.tcl
  projects/ad9656_fmc/common/ad9656_fmc_bd.tcl
  projects/ad9694_fmc/common/ad9694_fmc_bd.tcl
  projects/ad9695_fmc/common/ad9695_fmc_bd.tcl
  projects/ad9783_ebz/common/ad9783_ebz_bd.tcl
  projects/adrv9001/common/adrv9001_bd.tcl
  projects/adrv9009/common/adrv9009_bd.tcl
  projects/adrv9009zu11eg/common/adrv2crr_fmc_bd.tcl
  projects/adrv9009zu11eg/common/adrv9009zu11eg_bd.tcl
  projects/adrv9026/common/adrv9026_bd.tcl
  projects/adrv904x/common/adrv904x_bd.tcl
  projects/adrv9371x/common/adrv9371x_bd.tcl
  projects/common/ac701/ac701_system_bd.tcl
  projects/common/coraz7s/coraz7s_system_bd.tcl
  projects/common/kc705/kc705_system_bd.tcl
  projects/common/kcu105/kcu105_system_bd.tcl
  projects/common/kv260/kv260_system_bd.tcl
  projects/common/microzed/microzed_system_bd.tcl
  projects/common/vc707/vc707_system_bd.tcl
  projects/common/vc709/vc709_system_bd.tcl
  projects/common/vcu118/vcu118_system_bd.tcl
  projects/common/vcu128/vcu128_system_bd.tcl
  projects/common/vmk180/vmk180_system_bd.tcl
  projects/common/vpk180/vpk180_system_bd.tcl
  projects/common/zc702/zc702_system_bd.tcl
  projects/common/zc706/zc706_system_bd.tcl
  projects/common/zcu102/zcu102_system_bd.tcl
  projects/common/zed/zed_system_bd.tcl
  projects/dac_fmc_ebz/common/dac_fmc_ebz_bd.tcl
  projects/daq2/common/daq2_bd.tcl
  projects/daq3/common/daq3_bd.tcl
  projects/daq3/zcu102/system_bd.tcl
  projects/fmcomms2/common/fmcomms2_bd.tcl
  projects/fmcomms5/common/fmcomms5_bd.tcl
  projects/fmcomms8/common/fmcomms8_bd.tcl
Labels: enhancement

#1287 Util axis fifo asym
  library/common/ad_mem.v
  library/data_offload/data_offload.v
  library/util_axis_fifo/util_axis_fifo.v
  library/util_axis_fifo_asym/util_axis_fifo_asym.v
  library/util_axis_fifo_asym/util_axis_fifo_asym_ip.tcl
Labels: bug

#1602 user_guide: architecture: Add FM87 details
  docs/user_guide/architecture.rst
Labels: doc

#1607 docs: library: axi_ltc235x: Add doc
  docs/library/axi_ltc235x/axi_ltc235x_architecture.svg
  docs/library/axi_ltc235x/axi_ltc235x_cmos.svg
  docs/library/axi_ltc235x/axi_ltc235x_lvds.svg
  docs/library/axi_ltc235x/index.rst
  docs/library/index.rst
Labels: doc

#1573 Add optional generic pipeline stage in util_do_ram
  library/common/util_pipeline_stage.v
  library/jesd204/jesd204_common/Makefile
  library/jesd204/jesd204_common/jesd204_common_ip.tcl
  library/jesd204/jesd204_common/pipeline_stage.v
  library/jesd204/jesd204_rx/Makefile
  library/jesd204/jesd204_rx/jesd204_rx.v
  library/jesd204/jesd204_rx/jesd204_rx_hw.tcl
  library/jesd204/jesd204_rx/jesd204_rx_lane.v
  library/jesd204/jesd204_rx/jesd204_rx_lane_64b.v
  library/jesd204/jesd204_tx/Makefile
  library/jesd204/jesd204_tx/jesd204_tx.v
  library/jesd204/jesd204_tx/jesd204_tx_hw.tcl
  library/jesd204/jesd204_tx/jesd204_tx_lane.v
  library/jesd204/tb/frame_align_tb
  library/jesd204/tb/loopback_64b_tb
  library/jesd204/tb/loopback_tb
  library/jesd204/tb/rx_lane_tb
  library/jesd204/tb/rx_tb
  library/jesd204/tb/tx_64b_tb
  library/util_do_ram/Makefile
  library/util_do_ram/util_do_ram.v
  library/util_do_ram/util_do_ram_ip.tcl
Labels: enhancement

#1590 ad_quadmxfe1_ebz: Switch to data_offload
  projects/ad_quadmxfe1_ebz/common/ad_quadmxfe1_ebz_bd.tcl
  projects/ad_quadmxfe1_ebz/vcu118/Makefile
  projects/ad_quadmxfe1_ebz/vcu118/system_bd.tcl
  projects/ad_quadmxfe1_ebz/vcu118/system_top.v
Labels: enhancement

#1613 docs: Add adrv9364z7020 doc
  docs/projects/adrv9364z7020/adrv9364z7020_block_diagram.svg
  docs/projects/adrv9364z7020/index.rst
  docs/projects/index.rst
Labels: doc

#1604 docs: Add arradio doc
  docs/projects/arradio/arradio_block_diagram.svg
  docs/projects/arradio/index.rst
  docs/projects/index.rst
Labels: doc

#1609 docs: Add adrv9361z7035 doc
  docs/projects/adrv9361z7035/adrv9361z7035_block_diagram.svg
  docs/projects/adrv9361z7035/index.rst
  docs/projects/index.rst
Labels: doc

#1619 docs/library/util_axis_fifo_asym: Fix address width naming
  docs/library/util_axis_fifo_asym/index.rst
Labels: doc

#1626 library.mk: Fix second run for dependent lib
  library/scripts/library.mk
Labels: bug

#1616 up_delay_cntrl: Add core_rst
  library/axi_ad408x/axi_ad408x.v
  library/axi_ad485x/axi_ad485x.v
  library/axi_ad9265/axi_ad9265.v
  library/axi_ad9361/axi_ad9361_rx.v
  library/axi_ad9361/axi_ad9361_tx.v
  library/axi_ad9434/axi_ad9434_core.v
  library/axi_ad9467/axi_ad9467.v
  library/axi_ad9684/axi_ad9684.v
  library/axi_ad9963/axi_ad9963_rx.v
  library/axi_adaq8092/axi_adaq8092.v
  library/axi_adrv9001/axi_adrv9001_core.v
  library/axi_ltc2387/axi_ltc2387.v
  library/axi_pulsar_lvds/axi_pulsar_lvds.v
  library/common/up_delay_cntrl.v
Labels: bug
